@using WhatsYourIdea.Applications.DTO
@model IdeaDto
@{
    var controller = ViewData["controller"] ?? "Idea";
    var action = ViewData["action"] ?? "";
    var hash = Model.Hash;
    action += $"{hash}";
}
<article class="card mt-3">
    <div class="py-4 px-3">
        <div class="row gx-3">
            <div class="col-auto">
                <div class="avatar" style="background-image: url('/images/test.jpg')">
                </div>
            </div>
            <div class="col-10 title">
                <h5 class="cut-one-line-text">
                    <a asp-controller=@controller asp-action=@action>@Model.Title</a>
                </h5>
                <p>
                    <i>by <b>@Model.AuthorName</b>, @Model.CreateDate.ToShortDateString()</i>
                </p>
            </div>
        </div>

        <div class="row mt-2 gx-3">
            @foreach(var tag in Model.Tags)
            {
                <div class="col-auto">
                    <div class="tag">
                        #@tag.Name
                    </div>
                </div>
            }
        </div>

        <div class="row mt-2 gx-3 icons">
            <div class="col-auto">
                @if(Model.IsTracked)
                {
                    <i class="bi bi-star-fill"></i>
                }
                else
                {
                    <i class="bi bi-star"></i>
                }
                <span>@Model.TrackedNumber</span>
            </div>
            <div class="col-auto">
                <i class="bi bi-chat-left"></i>
                <span>@Model.CommentNumber</span>
            </div>
        </div>

        <div class="row mt-2 gx-3">
            <div class="col-12">
                <p class="cut-three-line-text">
                    @Model.SubTitle
                </p>
            </div>
        </div>
    </div>
</article>